In [3]:
data="hey lokesh hey"

x=data.split(" ")
print(x ,type(x))

['hey', 'lokesh', 'hey'] <class 'list'>

In [4]:
data="hey lokesh hey hello hey user user hey"
mylist=data.split()
newlist=[]
for i in mylist:
    if(i not in newlist):
        newlist.append(i)

In [5]:
#tuple
#collection of multiple element
#immutable
#index position ()

In [6]:
mytuple=10
print(type(mytuple))

<class 'int'>

In [7]:
mytuple=10 ,20
print(type(mytuple))

<class 'tuple'>

In [8]:
mytuple=10,
print(type(mytuple))

<class 'tuple'>

In [9]:
mytuple=(10 ,20)
print(type(mytuple))

<class 'tuple'>

In [11]:
mytuple=(10,20 , "hey" ,89)
print(type(mytuple))

<class 'tuple'>

In [14]:
mytuple=mytuple+(60,50,40)

In [15]:
mytuple

(10, 20, 'hey', 89, 60, 50, 40)

In [16]:
#tuples are immutable
id(mytuple)

2547839905664

In [17]:
#"hey lokesh hey hello hello lokesh lokesh "

x="hey lokesh hey hello hello lokesh lokesh"

In [20]:
#armstrong number
#153 =>1**3 + 5**3 + 3**3 =>153
x=153
originalnum=x=0
total=0
while(x>0):
    rem=x%10
    total += rem**3

    x=x//10

if(total==originalnum):
    print("armstrong number")
else:
    ("not")

armstrong number

In [ ]:
# to find out whether a 4digit number is a arnstrong
# to find out all the unuc word from a string no duplicacy
#"hay hello user lokesh lokesh hello"
#